[Unit]
Description=NMEA logger
After=network.target

[Service]
Type=simple
ExecStart=/opt/nmealogger/bin/nmealogger -logDir /data

[Install]
WantedBy=multi-user.target
