[Unit]
Description=NMEA log upload service
Wants=logupload.timer

[Service]
Type=oneshot
ExecStart=/opt/nmealogger/bin/logupload -credentials /opt/nmealogger/etc/nmealogger-5cf95ba688f5.json -logDir /data
ExecStart=/usr/bin/find /data -name 'nmea*.log.uploaded' -mtime +1 -exec ls -l {} \;

[Install]
WantedBy=multi-user.target
